[submodule "Modules/Endscript"]
	path = Modules/Endscript
	url = https://github.com/NI240SX/Endscript
[submodule "Modules/ILWrapper"]
	path = Modules/ILWrapper
	url = https://github.com/NI240SX/ILWrapper
